<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribute Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <a href="/home"><button class ="button1"><h3>Home</h3></button></a>
    <h1 class="contributionTitle">About Anita Borg</h1>

    <p> Anita Borg (1949-2003) was a pioneering computer scientist, entrepreneur, and advocate for women in technology. She dedicated her career to breaking down barriers and creating opportunities for women in computing.

Anita founded Systers, an online community providing support and mentorship for women in the field. She also established AnitaB.org, an organization promoting women's representation and participation in technology.

Her technical contributions in operating systems and distributed computing were groundbreaking. Anita's vision and accomplishments continue to inspire individuals and organizations worldwide.</p>

<p> Founding AnitaB.org: In 1994, Anita Borg established the Institute for Women and Technology, now known as AnitaB.org. This nonprofit organization is dedicated to advancing women's representation and participation in technology fields. AnitaB.org provides resources, support, and mentorship programs, and organizes events and conferences such as the renowned Grace Hopper Celebration, bringing together women technologists from around the world.</p>
    




</body>
</html>