<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribute Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<a href="/home"><button class ="button2"><h3>Home</h3></button></a>
    <h1 class = "contributionTitle">AnitaB.org</h1>

    <p>
In 1987, Anita Borg and 12 other women technologists cofounded the Systers community, an email list for women working in the “systems” field. Systers provided a new type of virtual community, one where tech women were free to discuss issues they experienced at work and share resources with one other. Decades later, Systers continues to offer a closed-network, safe community for women technologists.</p>

<p>In 1994, Anita and Dr. Telle Whitney cofounded the Grace Hopper Celebration (GHC), which has grown to become the world’s largest annual gathering of women technologists. Inspired by the legacy of Navy Rear Admiral Grace Murray Hopper — and tired of attending conferences with almost no women — Anita and Telle created GHC to offer women the chance to improve their technical skills and connect with one other.</p>

<p>AnitaB.org continues to extend the global outreach to women considering and currently pursuing technical careers in computing through in-person and online programs such as our Abie Awards, AnitaB.org local communities, and a variety of social networks. True to our history, we’re here to break down boundaries, advocate for change, and remain persistent in the face of adversity.</p>
 <img class="conference" src="/conference.jpg">  



</body>
</html>