<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tribute Page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>



<h1>Welcome to Anita Borg's tribute page</h1>

<h2>Here, you can learn about Anita's journey and her major contributions to the tech community.</h2>
<img src="/Anita Borg.jpeg">
<a href="/about"><button ><h3>About Anita</h3></button></a>

<a href="/contribution"><button ><h3>Contribution</h3></button></a>


    
</body>
</html>